<template>
    <div class="main-content">
        <section class="section">
            <div class="section-header">
                <h1>Tambah Produk Keluar</h1>
                <div class="section-header-breadcrumb">
                    <div class="breadcrumb-item active">
                        <router-link :to='{ name: "Homepage" }'>
                            Dashboard
                        </router-link>
                    </div>
                    <div class="breadcrumb-item">Tambah Produk Keluar</div>
                </div>
            </div>

            <form @submit.prevent="create">
                <div class="card-body">

                    <div class="form-group">
                        <label>Produk</label>
                        <select class="form-control" v-model="product_keluar.product_id" required>
                            <option disabled value="">Pilih satu produk yaa...</option>
                            <option v-for="product in products" :key="product.id" :value="product.id"> {{
                            product.product_nama }}
                            </option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label>Customer</label>
                        <select class="form-control" v-model="product_keluar.customer_id" required>
                            <option disabled value="">Pilih satu customer yaa...</option>
                            <option v-for="customer in customers" :key="customer.id" :value="customer.id"> {{
                            customer.customer_nama }}
                            </option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label>Stok</label>
                        <input type="number" min="1" oninput="this.value = Math.abs(this.value)" class="form-control" placeholder="Berapa stoknya?"
                            v-model="product_keluar.qty" required>
                    </div>
                    <div class="form-group">
                        <label>Harga Satuan Jual</label>
                        <input type="text" class="form-control" placeholder="Nilai menyesuaikan harga produk sekarang"
                           disabled>
                    </div>
                    <div class="form-group">
                        <label>Tanggal keluar</label>
                        <input type="date" class="form-control" placeholder="Kapan keluarnya?"
                            v-model="product_keluar.tanggal" required>
                    </div>
                </div>
                <div class="card-body text-right">
                    <input class="btn btn-primary mr-2" type="submit" value="Submit">
                    <router-link :to='{ name: "List_product_keluar" }' class="btn btn-danger">
                        Batal
                    </router-link>
                </div>
            </form>

        </section>
    </div>
</template>

<script>
export default {
    name: "Add_product_keluar",

    data() {
        return {
            product_keluar: {
                product_id: "",
                customer_id: "",
                qty: "",
                tanggal: "",
            }
        }
    },
    computed: {
        products() {
            return this.$store.state.products
        },
        customers() {
            return this.$store.state.customers
        },
    },
    mounted() {

        this.getProducts();
        this.getCustomers();
    },
    methods: {
        async create() {
            await this.axios.post('/api/product_keluars',
                this.product_keluar).then(response => {
                    this.$router.push({ name: "List_product_keluar" })
                }).catch(error => {
                    console.log(error)
                })
        },
        getProducts() {
            this.$store.dispatch('getProducts');
        },

        getCustomers() {
            this.$store.dispatch('getCustomers');
        },
    }
}
</script>
