<template>
    <div class="main-content">
        <section class="section">
            <div class="section-header">
                <h1>Daftar Produk Keluar</h1>
                <div class="section-header-breadcrumb">
                    <div class="breadcrumb-item active">
                        <router-link :to='{ name: "Homepage" }'>
                            Dashboard
                        </router-link>
                    </div>
                    <div class="breadcrumb-item">Daftar Produk Keluar</div>
                </div>
            </div>
            <div class="card-body">
                <router-link :to='{ name: "Add_product_keluar" }' class="btn btn-primary">
                    Tambah Produk Keluar
                </router-link>
                <button class="btn btn-success ml-2" @click="makeReport()">Laporan Produk Keluar</button>
            </div>


            <div class="row">
                <div class="col">
                    <div class="card">
                        <div class="card-header">
                            <h4>Product keluar</h4>
                        </div>
                        <div class="card-body p-0">
                            <div class="table-responsive table-invoice">
                                <table class="table table-striped">
                                    <tbody>
                                        <tr>
                                            <th>No</th>
                                            <th>Produk</th>
                                            <th>Customer</th>
                                            <th>QTY</th>
                                            <th>Harga Satuan Jual</th>
                                            <th>Tanggal keluar</th>
                                            <th>Aksi</th>
                                        </tr>
                                        <tr v-for="(product_keluar, index) in product_keluars" :key="index">
                                            <td>{{ index + 1 }}</td>
                                            <td>{{ product_keluar.product_nama }}</td>
                                            <td>{{ product_keluar.customer_nama }}</td>
                                            <td>{{ product_keluar.qty }}</td>
                                            <td>{{ product_keluar.harga_jual }}</td>
                                            <td>{{ product_keluar.tanggal }}</td>
                                            <td>
                                                <router-link
                                                    :to='{ name: "Edit_product_keluar", params: { id: product_keluar.id } }'
                                                    class="btn btn-warning">Edit
                                                </router-link>
                                                <button class="btn btn-danger"
                                                    @click="deleteProduct_keluar(product_keluar.id)">Hapus</button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</template>

<script>

export default {
    name: "List_product_keluar",

    data() {
        return {
            product_keluars: {},

        }
    },
    created() {
        this.getProduct_keluars();
    },
    methods: {
        getProduct_keluars() {
            this.axios.get('/api/product_keluars').then(response => {
                this.product_keluars = response.data;
            }).catch(error => {
                console.log(error)
                this.product_keluars = []
            })
        },
        deleteProduct_keluar(id) {
            if (confirm("Are you sure to delete this product_keluar ?")) {
                this.axios.delete(`/api/product_keluars/${id}`).then(response => {
                    this.getProduct_keluars()
                }).catch(error => {
                    console.log(error)
                })
            }
        },
        makeReport() {
            const url = '/api/report-keluar';
            window.location.href = url;
        }
    }
}
</script>








<!-- <script>

export default {
    computed: {
        product_keluars() {
            return this.$store.state.product_keluars
        },
    },
    mounted() {

        this.getProduct_keluars();
    },
    methods: {
        getProduct_keluars() {
            this.$store.dispatch('getProduct_keluars');
        },
        deleteProduct_keluar(product_keluar) {
            this.$store.dispatch('deleteProduct_keluar', product_keluar.id);
        }
    },
}

</script> -->
