<template>
    <div class="main-content">
        <section class="section">
            <div class="section-header">
                <h1>Tambah Product</h1>
                <div class="section-header-breadcrumb">
                    <div class="breadcrumb-item active">
                        <router-link :to='{ name: "Homepage" }'>
                            Dashboard
                        </router-link>
                    </div>
                    <div class="breadcrumb-item">
                        <router-link :to='{ name: "List_product" }'>
                            Produk
                        </router-link>
                    </div>
                    <div class="breadcrumb-item">Tambah Produk</div>
                </div>
            </div>

            <form @submit.prevent="create">
                <div class="card-body">
                    <div class="form-group">
                        <label>Nama Produk</label>
                        <input type="text" class="form-control" placeholder="Apa nama produknya?" v-model="product.product_nama" required>
                    </div>
                    <div class="form-group">
                        <label>Harga</label>
                        <input type="number" oninput="this.value = Math.abs(this.value)" class="form-control" placeholder="Berapa harga jual per itemnya?" v-model="product.product_harga" required>
                    </div>
                    <div class="form-group">
                        <label>Stok</label>
                        <input type="number" oninput="this.value = Math.abs(this.value)" class="form-control" placeholder="Berapa jumlah stoknya" v-model="product.product_qty" required>
                    </div>
                    <div class="form-group">
                        <label for="category">Kategori</label>
                        <select class="form-control" v-model="product.category_id" required>
                            <option disabled value="">Pilih satu yaa...</option>
                            <option v-for="category in categories" :key="category.id" :value="category.id"> {{ category.category_nama }}</option>
                        </select>
                    </div>
                </div>
                <div class="card-body text-right">
                    <input class="btn btn-primary mr-2" type="submit" value="Submit">
                    <router-link :to='{ name: "List_product" }' class="btn btn-danger">
                        Batal
                    </router-link>
                </div>
            </form>

        </section>
    </div>
</template>

<script>
export default {
    name: "Add_product",

    data() {
        return {
            product: {
                product_nama: "",
                category_id: "",
                product_harga: "",
                product_qty: "",
            }
        }
    },
    computed: {
        categories() {
            return this.$store.state.categories
        },
    },
    mounted() {

        this.getCategories();
    },
    methods: {
        async create() {
            await this.axios.post('/api/products', this.product).then(response => {
                this.$router.push({ name: "List_product" })
            }).catch(error => {
                console.log(error)
            })
        },
        getCategories() {
            this.$store.dispatch('getCategories');
        },
    }
}
</script>

