<template>
    <div class="main-content">
        <section class="section">
            <div class="section-header">
                <h1>Edit Product</h1>
                <div class="section-header-breadcrumb">
                    <div class="breadcrumb-item active">
                        <router-link :to='{ name: "Homepage" }'>
                            Dashboard
                        </router-link>
                    </div>
                    <div class="breadcrumb-item">
                        <router-link :to='{ name: "List_product" }'>
                            Produk
                        </router-link>
                    </div>
                    <div class="breadcrumb-item">Edit Product</div>
                </div>
            </div>

            <form @submit.prevent="update">
                <div class="card-body">
                    <div class="form-group">
                        <label>Nama Produk</label>
                        <input type="text" class="form-control" v-model="product.product_nama" required>
                    </div>
                    <div class="form-group">
                        <label>Harga</label>
                        <input type="number" oninput="this.value = Math.abs(this.value)" class="form-control" v-model="product.product_harga" required>
                    </div>
                    <div class="form-group">
                        <label>Stok</label>
                        <input type="number" oninput="this.value = Math.abs(this.value)" class="form-control" v-model="product.product_qty" required>
                    </div>
                    <div class="form-group">
                        <label for="category">Kategori</label>
                        <select class="form-control" v-model="product.category_id" required>
                            <option disabled value="">Pilih satu yaa...</option>
                            <option v-for="category in categories" :key="category.id" :value="category.id"> {{
                                    category.category_nama
                            }}</option>
                        </select>
                    </div>
                </div>
                <div class="card-body text-right">
                    <input class="btn btn-primary mr-2" type="submit" value="Submit">
                    <router-link :to='{ name: "List_product" }' class="btn btn-danger">
                        Batal
                    </router-link>
                </div>
            </form>
        </section>
    </div>
</template>

<script>

export default {
    name: "Edit_product",
    data() {
        return {
            product: {
                product_nama: "",
                product_harga: "",
                product_qty: "",
                category_id:"",
                _method: "patch"
            }
        }
    },

    computed: {
        categories() {
            return this.$store.state.categories
        },
    },

    mounted() {
        this.showProduct()
    },
    methods: {
        async showProduct() {
            await this.axios.get(`/api/products/${this.$route.params.id}`).then(response => {
                const { id, product_nama, product_harga, product_qty, category_id } = response.data.products[0]
                this.product.id = id
                this.product.product_nama = product_nama,
                this.product.product_harga= product_harga,
                this.product.product_qty = product_qty,
                this.product.category_id = category_id
            }).catch(error => {
                console.log(error)
            })
        },
        async update() {
            await this.axios.post(`/api/products/${this.$route.params.id}`, this.product).then(response => {
                this.$router.push({ name: "List_product" })
            }).catch(error => {
                console.log(error)
            })
        },
        getCategories() {
            this.$store.dispatch('getCategories');
        },
    }
}

</script>
