<template>
    <div class="main-content">
        <section class="section">
            <div class="section-header">
                <h1>Daftar Product</h1>
                <div class="section-header-breadcrumb">
                    <div class="breadcrumb-item active">
                        <router-link :to='{ name: "Homepage" }'>
                            Dashboard
                        </router-link>
                    </div>
                    <div class="breadcrumb-item">
                        <router-link :to='{ name: "List_product" }'>
                            Produk
                        </router-link>
                    </div>
                    <div class="breadcrumb-item">Daftar Product</div>
                </div>
            </div>
            <div class="card-body">
                <router-link :to='{ name: "Add_product" }' class="btn btn-primary">
                    Tambah Produk
                </router-link>
            </div>


            <div class="row">
                <div class="col">
                    <div class="card">
                        <div class="card-header">
                            <h4>Product</h4>
                        </div>
                        <div class="card-body p-0">
                            <div class="table-responsive table-invoice">
                                <table class="table table-striped">
                                    <tbody>
                                        <tr>
                                            <th>No</th>
                                            <th>Nama Produk</th>
                                            <th>Harga Satuan</th>
                                            <th>Qty</th>
                                            <th>Kategori</th>
                                            <th>Aksi</th>
                                        </tr>
                                        <tr v-for="(product,index) in products" :key="index">
                                            <td>{{ index + 1 }}</td>
                                            <td>{{ product.product_nama }}</td>
                                            <td>{{ product.product_harga }}</td>
                                            <td>{{ product.product_qty }}</td>
                                            <td>{{ product.category_nama }}</td>
                                            <td>
                                                <router-link :to='{ name: "Edit_product", params: { id: product.id }}' class="btn btn-warning">Edit</router-link>
                                                <button class="btn btn-danger" @click="deleteProduct(product)">Hapus</button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>



</template>

<script>
export default {
    computed: {
        products() {
            return this.$store.state.products
        },
    },
    mounted() {

        this.getProducts();
    },
    methods: {
        getProducts() {
            this.$store.dispatch('getProducts');
        },
        deleteProduct(product) {
            this.$store.dispatch('deleteProduct', product.id);
        }
    },
}
</script>

