<template>
    <div class="main-content">
        <section class="section">
            <div class="section-header">
                <h1>Tambah Produk Masuk</h1>
                <div class="section-header-breadcrumb">
                    <div class="breadcrumb-item active">
                        <router-link :to='{ name: "Homepage" }'>
                            Dashboard
                        </router-link>
                    </div>
                    <div class="breadcrumb-item">Tambah Product Masuk</div>
                </div>
            </div>

            <form @submit.prevent="create">
                <div class="card-body">

                    <div class="form-group">
                        <label>Produk</label>
                        <select class="form-control"  v-model="product_masuk.product_id" required>
                            <option disabled value="">Pilih satu produk yaa...</option>
                            <option v-for="product in products" :key="product.id" :value="product.id"> {{ product.product_nama }}
                            </option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label>supplier</label>
                        <select class="form-control" v-model="product_masuk.supplier_id" required>
                            <option disabled value="">Pilih satu supplier yaa...</option>
                            <option v-for="supplier in suppliers" :key="supplier.id" :value="supplier.id"> {{ supplier.supplier_nama }}
                            </option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label>Stok</label>
                        <input type="number" min="1" oninput="this.value = Math.abs(this.value)" class="form-control" placeholder="Berapa stoknya?" v-model="product_masuk.qty" required>
                    </div>
                    <div class="form-group">
                        <label>Harga Satuan Modal</label>
                        <input type="number" oninput="this.value = Math.abs(this.value)" class="form-control" placeholder="Berapa satuan harga modalnya?" v-model="product_masuk.harga_modal" required>
                    </div>
                    <div class="form-group">
                        <label>Tanggal Masuk</label>
                        <input type="date" class="form-control" placeholder="Kapan masuknya?" v-model="product_masuk.tanggal" required>
                    </div>
                </div>
                <div class="card-body text-right">
                    <input class="btn btn-primary mr-2" type="submit" value="Submit">
                    <router-link :to='{ name: "List_product_masuk" }' class="btn btn-danger">
                        Batal
                    </router-link>
                </div>
            </form>

        </section>
    </div>
</template>

<script>
export default {
    name: "Add_product_masuk",

    data() {
        return {
            product_masuk: {
                product_id    : "",
                supplier_id   : "",
                qty           : "",
                harga_modal   : "",
                tanggal       : "",
            }
        }
    },
    computed: {
        products() {
            return this.$store.state.products
        },
        suppliers() {
            return this.$store.state.suppliers
        },
    },
    mounted() {

        this.getProducts();
        this.getSuppliers();
    },
    methods: {
        async create() {
            await this.axios.post('/api/product_masuks',
            this.product_masuk).then(response => {
                this.$router.push({ name: "List_product_masuk" })
            }).catch(error => {
                console.log(error)
            })
        },
        getProducts() {
            this.$store.dispatch('getProducts');
        },

        getSuppliers() {
            this.$store.dispatch('getSuppliers');
        },
    }
}
</script>
