<template>
    <div class="main-content">
        <section class="section">
            <div class="section-header">
                <h1>Edit Produk masuk</h1>
                <div class="section-header-breadcrumb">
                    <div class="breadcrumb-item active">
                        <router-link :to='{ name: "Homepage" }'>
                            Dashboard
                        </router-link>
                    </div>
                    <div class="breadcrumb-item">Edit Produk masuk</div>
                </div>
            </div>

            <form @submit.prevent="update">
                <div class="card-body">
                    <div class="form-group">
                        <label>Produk</label>
                        <select class="form-control" v-model="product_masuk.product_id" required>
                            <option disabled value="">Pilih satu produk yaa...</option>
                            <option v-for="product in products" :key="product.id" :value="product.id"> {{
                            product.product_nama
                            }}
                            </option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label>supplier</label>
                        <select class="form-control" v-model="product_masuk.supplier_id" required>
                            <option disabled value="">Pilih satu supplier yaa...</option>
                            <option v-for="supplier in suppliers" :key="supplier.id" :value="supplier.id"> {{
                            supplier.supplier_nama
                            }}
                            </option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label>Stok</label>
                        <input type="number" min="1" oninput="this.value = Math.abs(this.value)" class="form-control" v-model="product_masuk.qty" required>
                    </div>
                    <div class="form-group">
                        <label>Harga Satuan Modal</label>
                        <input type="number" oninput="this.value = Math.abs(this.value)" class="form-control" v-model="product_masuk.harga_modal" required>
                    </div>
                    <div class="form-group">
                        <label>Tanggal masuk</label>
                        <input type="date" class="form-control" v-model="product_masuk.tanggal" required>
                    </div>
                </div>
                <div class="card-body text-right">
                    <input class="btn btn-primary mr-2" type="submit" value="Submit">
                    <router-link :to='{ name: "List_product_masuk" }' class="btn btn-danger">
                        Batal
                    </router-link>
                </div>
            </form>
        </section>
    </div>
</template>

<script>
export default {
    name: "Edit_product_masuk",

    data() {
        return {
            product_masuk: {
                product_id: "",
                supplier_id: "",
                qty: "",
                harga_modal: "",
                tanggal: "",
                _method: "patch"
            }
        }
    },
    computed: {
        products() {
            return this.$store.state.products
        },
        suppliers() {
            return this.$store.state.suppliers
        },
    },
    mounted() {
        this.showProduct_masuk();
        this.getProducts();
        this.getSuppliers();
    },
    methods: {
        async showProduct_masuk() {
            await this.axios.get(`/api/product_masuks/${this.$route.params.id}`).then(response => {
                const { id, product_id, supplier_id, qty, harga_modal, tanggal } = response.data
                this.product_masuk.id = id
                this.product_masuk.product_id = product_id,
                    this.product_masuk.supplier_id = supplier_id,
                    this.product_masuk.qty = qty,
                    this.product_masuk.harga_modal = harga_modal,
                    this.product_masuk.tanggal = tanggal
            }).catch(error => {
                console.log(error)
            })
        },

        async update() {
            await this.axios.patch(`/api/product_masuks/${this.$route.params.id}`, this.product_masuk).then(response => {
                this.$router.push({ name: "List_product_masuk" })
            }).catch(error => {
                console.log(error)
            })
        },
        getProducts() {
            this.$store.dispatch('getProducts');
        },

        getSuppliers() {
            this.$store.dispatch('getSuppliers');
        },
    }
}
</script>
