<template>
    <div class="main-content">
        <section class="section">
            <div class="section-header">
                <h1>Daftar Produk Masuk</h1>
                <div class="section-header-breadcrumb">
                    <div class="breadcrumb-item active">
                        <router-link :to='{ name: "Homepage" }'>
                            Dashboard
                        </router-link>
                    </div>
                    <div class="breadcrumb-item">Daftar Produk Masuk</div>
                </div>
            </div>
            <div class="card-body">
                <router-link :to='{ name: "Add_product_masuk" }' class="btn btn-primary">
                    Tambah Produk Masuk
                </router-link>
                <button class="btn btn-success ml-2" @click="makeReport()">Laporan Produk Masuk</button>
            </div>


            <div class="row">
                <div class="col">
                    <div class="card">
                        <div class="card-header">
                            <h4>Product Masuk</h4>
                        </div>
                        <div class="card-body p-0">
                            <div class="table-responsive table-invoice">
                                <table class="table table-striped">
                                    <tbody>
                                        <tr>
                                            <th>No</th>
                                            <th>Produk</th>
                                            <th>Supplier</th>
                                            <th>QTY</th>
                                            <th>Harga Satuan Modal</th>
                                            <th>Tanggal Masuk</th>
                                            <th>Aksi</th>
                                        </tr>
                                        <tr v-for="(product_masuk, index) in product_masuks" :key="product_masuk.id">
                                            <td>{{ index + 1 }}</td>
                                            <td>{{ product_masuk.product_nama }}</td>
                                            <td>{{ product_masuk.supplier_nama }}</td>
                                            <td>{{ product_masuk.qty }}</td>
                                            <td>{{ product_masuk.harga_modal }}</td>
                                            <td>{{ product_masuk.tanggal }}</td>
                                            <td>
                                                <router-link :to='{ name: "Edit_product_masuk", params: { id: product_masuk.id }}' class="btn btn-warning">Edit
                                                </router-link>

                                                <button class="btn btn-danger" @click="deleteProduct_masuk(product_masuk.id)">Hapus</button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</template>

<script>

export default {
    name: "List_product_masuk",

    data() {
        return {
            product_masuks: {},

        }
    },
    created() {
        this.getProduct_masuks();
    },
    methods: {
        getProduct_masuks() {
            this.axios.get('/api/product_masuks').then(response => {
                this.product_masuks = response.data;
            }).catch(error => {
                console.log(error)
                this.product_masuks = []
            })
        },
        deleteProduct_masuk(id) {
            if (confirm("Are you sure to delete this product_masuk ?")) {
                this.axios.delete(`/api/product_masuks/${id}`).then(response => {
                    this.getProduct_masuks()
                }).catch(error => {
                    console.log(error)
                })
            }
        },
        makeReport() {
            const url = '/api/report-masuk';
            window.location.href = url;
        }
    }
}
</script>








<!-- <script>

export default {
    computed: {
        product_masuks() {
            return this.$store.state.product_masuks
        },
    },
    mounted() {

        this.getProduct_masuks();
    },
    methods: {
        getProduct_masuks() {
            this.$store.dispatch('getProduct_masuks');
        },
        deleteProduct_masuk(product_masuk) {
            this.$store.dispatch('deleteProduct_masuk', product_masuk.id);
        }
    },
}

</script> -->
