<template>
  <div class="app">
    <navbar />
    <sidebar />
    <footer />
    <router-view />
  </div>
</template>

<script>
import Navbar from './components/Navbar.vue'
import Sidebar from './components/Sidebar.vue'
import Footer from './components/Footer.vue'
export default {
  components: { Navbar, Sidebar, Footer },
  name: 'app'
}
</script>
