<template>
    <div class="main-content">
        <section class="section">
            <div class="section-header">
                <h1>Tambah Kategori</h1>
                <div class="section-header-breadcrumb">
                    <div class="breadcrumb-item active">
                        <router-link :to='{ name: "Homepage" }'>
                            Dashboard
                        </router-link>
                    </div>
                    <div class="breadcrumb-item">
                        <router-link :to='{ name: "List_category" }'>
                            Kategori
                        </router-link>
                    </div>
                    <div class="breadcrumb-item">Tambah Kategori</div>
                </div>
            </div>
            <form @submit.prevent="create">
                <div class="card-body">
                    <div class="form-group">
                        <label>Nama Kategori</label>
                        <input type="text" class="form-control" placeholder="Apa nama Kategorinya?" v-model="category.category_nama" required>
                    </div>
                </div>
                <div class="card-body text-right">
                    <input class="btn btn-primary mr-2" type="submit" value="Submit">
                    <router-link :to='{ name: "List_category" }' class="btn btn-danger">
                        Batal
                    </router-link>
                </div>
            </form>

        </section>
    </div>
</template>

<script>
export default {
    name: "Add_category",
    data() {
        return {
            category: {
                category_nama: "",
            }
        }
    },
    methods: {
        async create() {
            await this.axios.post('/api/categorys', this.category).then(response => {
                this.$router.push({ name: "List_category" })
            }).catch(error => {
                console.log(error)
            })
        }
    }
}
</script>
