<template>
    <div class="main-content">
        <section class="section">
            <div class="section-header">
                <h1>Edit Kategori</h1>
                <div class="section-header-breadcrumb">
                    <div class="breadcrumb-item active">
                        <router-link :to='{ name: "Homepage" }'>
                            Dashboard
                        </router-link>
                    </div>
                    <div class="breadcrumb-item">
                        <router-link :to='{ name: "List_category" }'>
                            Kategori
                        </router-link>
                    </div>
                    <div class="breadcrumb-item">Edit Kategori</div>
                </div>
            </div>

            <form @submit.prevent="update">
                <div class="card-body">
                    <div class="form-group">
                        <label>Nama Kategori</label>
                        <input type="text" class="form-control" v-model="category.category_nama" required>
                    </div>
                </div>
                <div class="card-body text-right">
                    <input class="btn btn-primary mr-2" type="submit" value="Submit">
                    <router-link :to='{ name: "List_category" }' class="btn btn-danger">
                        Batal
                    </router-link>
                </div>
            </form>

        </section>
    </div>
</template>

<script>

export default {
    name: "update-category",
    data() {
        return {
            category: {
                category_nama: "",
                _method: "patch"
            }
        }
    },
    mounted() {
        this.showCategory()
    },
    methods: {
        async showCategory() {
            await this.axios.get(`/api/categorys/${this.$route.params.id}`).then(response => {
                const { id, category_nama } = response.data.categories[0]
                this.category.id = id
                this.category.category_nama = category_nama
            }).catch(error => {
                console.log(error)
            })
        },
        async update() {
            await this.axios.post(`/api/categorys/${this.$route.params.id}`, this.category).then(response => {
                this.$router.push({ name: "List_category" })
            }).catch(error => {
                console.log(error)
            })
        }
    }
}

</script>

