<template>
    <div class="main-content">
        <section class="section">
            <div class="section-header">
                <h1>Daftar Kategori</h1>
                <div class="section-header-breadcrumb">
                    <div class="breadcrumb-item active">
                        <router-link :to='{ name: "Homepage" }'>
                            Dashboard
                        </router-link>
                    </div>
                    <div class="breadcrumb-item">
                        <router-link :to='{ name: "List_category" }'>
                            Kategori
                        </router-link>
                    </div>
                    <div class="breadcrumb-item">Daftar Kategori</div>
                </div>
            </div>
            <div class="card-body">
                <router-link :to='{ name: "Add_category" }' class="btn btn-primary">
                    Tambah Kategori
                </router-link>
            </div>


            <div class="row">
                <div class="col">
                    <div class="card">
                        <div class="card-header">
                            <h4>Kategori</h4>
                        </div>
                        <div class="card-body p-0">
                            <div class="table-responsive table-invoice">
                                <table class="table table-striped">
                                    <tbody>
                                        <tr>
                                            <th>No</th>
                                            <th>Nama Kategori</th>
                                            <th>Aksi</th>
                                        </tr>
                                        <tr v-for="(category,index) in categories" :key="index">
                                            <td>{{index+1}}</td>
                                            <td>{{ category.category_nama}}</td>
                                            <td>
                                                <router-link :to='{ name: "Edit_category", params: { id: category.id }}' class="btn btn-warning">Edit
                                                </router-link>
                                                <button class="btn btn-danger" @click="deleteCategory(category)">Hapus</button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</template>

<script>

export default {
    computed: {
        categories(){
            return this.$store.state.categories
        },
    },
    mounted() {

        this.getCategories();
    },
    methods: {
        getCategories() {
            this.$store.dispatch('getCategories');
        },
        deleteCategory(category) {
            this.$store.dispatch('deleteCategory', category.id);
        }
    },
}

</script>
