<template>
    <!-- Main Content -->
    <div class="main-content">
        <section class="section">
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-12">
                    <div class="card card-statistic-2">
                        <div class="card-icon shadow-primary bg-primary">
                            <i class="fas fa-archive"></i>
                        </div>
                        <div class="card-wrap">
                            <div class="card-header">
                                <h4>Jumlah Produk</h4>
                            </div>
                            <div class="card-body">
                                {{ info_products.total_product }}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12">
                    <div class="card card-statistic-2">
                        <div class="card-icon shadow-primary bg-primary">
                            <i class="fas fa-shopping-bag"></i>
                        </div>
                        <div class="card-wrap">
                            <div class="card-header">
                                <h4>Jumlah Transaksi Produk Masuk</h4>
                            </div>
                            <div class="card-body">
                                {{ info_products.total_product_masuk }}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12">
                    <div class="card card-statistic-2">
                        <div class="card-icon shadow-primary bg-primary">
                            <i class="fas fa-dollar-sign"></i>
                        </div>
                        <div class="card-wrap">
                            <div class="card-header">
                                <h4>Jumlah Transaksi Produk Keluar</h4>
                            </div>
                            <div class="card-body">
                                {{ info_products.total_product_keluar }}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12">
                    <div class="card card-statistic-2">
                        <div class="card-icon shadow-primary bg-primary">
                            <i class="fas fa-archive"></i>
                        </div>
                        <div class="card-wrap">
                            <div class="card-header">
                                <h4>Jumlah Kategori</h4>
                            </div>
                            <div class="card-body">
                                {{ info_products.total_kategori }}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12">
                    <div class="card card-statistic-2">
                        <div class="card-icon shadow-primary bg-primary">
                            <i class="fas fa-user"></i>
                        </div>
                        <div class="card-wrap">
                            <div class="card-header">
                                <h4>Jumlah Customer</h4>
                            </div>
                            <div class="card-body">
                                {{ info_products.total_customer }}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12">
                    <div class="card card-statistic-2">
                        <div class="card-icon shadow-primary bg-primary">
                            <i class="fas fa-user"></i>
                        </div>
                        <div class="card-wrap">
                            <div class="card-header">
                                <h4>Jumlah Supplier</h4>
                            </div>
                            <div class="card-body">
                                {{ info_products.total_supplier }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="row">
                <div class="col-lg-8">
                    <div class="card">
                        <div class="card-header">
                            <h4>Daftar Product</h4>
                            <div class="card-header-action">
                                <router-link :to='{ name: "List_product" }' class="btn btn-danger">
                                    Lihat
                                </router-link>
                            </div>
                        </div>
                        <div class="card-body p-0">
                            <div class="table-responsive table-invoice">
                                <table class="table table-striped">
                                    <tbody>
                                        <tr>
                                            <th>No</th>
                                            <th>Nama Produk</th>
                                            <th>Harga Satuan</th>
                                            <th>Qty</th>
                                            <th>Kategori</th>
                                        </tr>
                                        <tr v-for="(product, index) in products" :key="index">
                                            <td>{{ index + 1 }}</td>
                                            <td>{{ product.product_nama }}</td>
                                            <td>{{ product.product_harga }}</td>
                                            <td>{{ product.product_qty }}</td>
                                            <td>{{ product.category_nama }}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="card">
                        <div class="card-header">
                            <h4>Kategori</h4>
                            <div class="card-header-action">
                                <router-link :to='{ name: "List_category" }' class="btn btn-danger">
                                    Lihat
                                </router-link>
                            </div>
                        </div>
                        <div class="card-body p-0">
                            <div class="table-responsive table-invoice">
                                <table class="table table-striped">
                                    <tbody>
                                        <tr>
                                            <th>No</th>
                                            <th>Nama Kategori</th>
                                        </tr>
                                        <tr v-for="(category,index) in categories" :key="index">
                                            <td>{{index+1}}</td>
                                            <td>{{ category.category_nama}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</template>

<script>
export default {

    computed: {
        categories() {
            return this.$store.state.categories
        },
        products() {
            return this.$store.state.products
        },
        info_products(){
            return this.$store.state.information_products
        }
    },
    mounted() {
        this.getCategories();
        this.getProducts();
        this.getInformationProduct();
    },
    methods: {
        getProducts() {
            this.$store.dispatch('getProducts');
        },

        deleteProduct(product) {
            this.$store.dispatch('deleteproducts', product.id);
        },

        getCategories() {
            this.$store.dispatch('getCategories');
        },

        deleteCategory(category) {
            this.$store.dispatch('deleteCategory', category.id);
        },

        getInformationProduct(){
            this.$store.dispatch('getInformationProduct');
        }
    }
}
</script>
