<template>
    <div class="main-content">
        <section class="section">
            <div class="section-header">
                <h1>Edit Supplier</h1>
                <div class="section-header-breadcrumb">
                    <div class="breadcrumb-item active">
                        <router-link :to='{ name: "Homepage" }'>
                            Dashboard
                        </router-link>
                    </div>
                    <div class="breadcrumb-item">
                        <router-link :to='{ name: "List_supplier" }'>
                            Supplier
                        </router-link>
                    </div>
                    <div class="breadcrumb-item">Edit Supplier</div>
                </div>
            </div>
            <form @submit.prevent="update">
                <div class="card-body">
                    <div class="form-group">
                        <label>Nama Supplier</label>
                        <input type="text" class="form-control" v-model="supplier.supplier_nama" required>
                    </div>
                    <div class="form-group">
                        <label>Alamat</label>
                        <input type="text" class="form-control" v-model="supplier.supplier_alamat" required>
                    </div>
                    <div class="form-group">
                        <label>Email</label>
                        <input type="email" class="form-control" v-model="supplier.email" required>
                    </div>
                    <div class="form-group">
                        <label>No. HP</label>
                        <input type="text" class="form-control" v-model="supplier.supplier_telepon" required>
                    </div>
                </div>
                <div class="card-body text-right">
                    <input class="btn btn-primary mr-2" type="submit" value="Submit">
                    <router-link :to='{ name: "List_supplier" }' class="btn btn-danger">
                        Batal
                    </router-link>
                </div>
            </form>

        </section>
    </div>
</template>

<script>

export default {
    name: "Edit_supplier",
    data() {
        return {
            supplier: {
                supplier_nama: "",
                supplier_alamat: "",
                email: "",
                supplier_telepon: "",
                _method: "patch"
            }
        }
    },
    mounted() {
        this.showsupplier()
    },

    methods: {
        async showsupplier() {
            await this.axios.get(`/api/suppliers/${this.$route.params.id}`).then(response => {
                const { id,
                    supplier_nama,
                    supplier_alamat,
                    email,
                    supplier_telepon
                } = response.data
                this.supplier.id                = id
                this.supplier.supplier_nama     = supplier_nama,
                this.supplier.supplier_alamat   = supplier_alamat,
                this.supplier.email             = email,
                this.supplier.supplier_telepon  = supplier_telepon
            }).catch(error => {
                console.log(error)
            })
        },
        async update() {
            await this.axios.post(`/api/suppliers/${this.$route.params.id}`, this.supplier).then(response => {
                this.$router.push({ name: "List_supplier" })
            }).catch(error => {
                console.log(error)
            })
        }
    }
}

</script>
