<template>
    <div class="main-content">
        <section class="section">
            <div class="section-header">
                <h1>Edit Kategori</h1>
                <div class="section-header-breadcrumb">
                    <div class="breadcrumb-item active">
                        <router-link :to='{ name: "Homepage" }'>
                            Dashboard
                        </router-link>
                    </div>
                    <div class="breadcrumb-item">
                        <router-link :to='{ name: "List_customer" }'>
                            Customer
                        </router-link>
                    </div>
                    <div class="breadcrumb-item">Edit Kategori</div>
                </div>
            </div>

            <form @submit.prevent="update">
                <div class="card-body">
                    <div class="form-group">
                        <label>Nama Customer</label>
                        <input type="text" class="form-control"  v-model="customer.customer_nama" required>
                    </div>
                    <div class="form-group">
                        <label>Alamat</label>
                        <input type="text" class="form-control" v-model="customer.customer_alamat" required>
                    </div>
                    <div class="form-group">
                        <label>Email</label>
                        <input type="email" class="form-control" v-model="customer.email" required>
                    </div>
                    <div class="form-group">
                        <label>No. HP</label>
                        <input type="text" class="form-control" v-model="customer.customer_telepon" required>
                    </div>
                </div>
                <div class="card-body text-right">
                    <input class="btn btn-primary mr-2" type="submit" value="Submit">
                    <router-link :to='{ name: "List_customer" }' class="btn btn-danger">
                        Batal
                    </router-link>
                </div>
            </form>

        </section>
    </div>
</template>

<script>

export default {
    name: "Edit_customer",
    data() {
        return {
            customer: {
                customer_nama: "",
                customer_alamat: "",
                email:"",
                customer_telepon: "",
                _method: "patch"
            }
        }
    },
    mounted() {
        this.showCustomer()
    },

    methods: {
        async showCustomer() {
            await this.axios.get(`/api/customers/${this.$route.params.id}`).then(response => {
                const {
                    id,
                    customer_nama,
                    customer_alamat,
                    email,
                    customer_telepon
                } = response.data
                this.customer.id                = id
                this.customer.customer_nama     = customer_nama,
                this.customer.customer_alamat   = customer_alamat,
                this.customer.email             = email,
                this.customer.customer_telepon  = customer_telepon
            }).catch(error => {
                console.log(error)
            })
        },
        async update() {
            await this.axios.post(`/api/customers/${this.$route.params.id}`, this.customer).then(response => {
                this.$router.push({ name: "List_customer" })
            }).catch(error => {
                console.log(error)
            })
        }
    }
}

</script>
