<template>
    <div class="main-content">
        <section class="section">
            <div class="section-header">
                <h1>Daftar Customer</h1>
                <div class="section-header-breadcrumb">
                    <div class="breadcrumb-item active">
                        <router-link :to='{ name: "Homepage" }'>
                            Dashboard
                        </router-link>
                    </div>
                    <div class="breadcrumb-item">
                        <router-link :to='{ name: "List_customer" }'>
                            Customer
                        </router-link>
                    </div>
                    <div class="breadcrumb-item">Daftar Customer</div>
                </div>
            </div>
            <div class="card-body">
                <router-link :to='{ name: "Add_customer" }' class="btn btn-primary">
                    Tambah Customer
                </router-link>
            </div>


            <div class="row">
                <div class="col">
                    <div class="card">
                        <div class="card-header">
                            <h4>Customer</h4>
                        </div>
                        <div class="card-body p-0">
                            <div class="table-responsive table-invoice">
                                <table class="table table-striped">
                                    <tbody>
                                        <tr>
                                            <th>No</th>
                                            <th>Nama Customer</th>
                                            <th>Alamat</th>
                                            <th>Email</th>
                                            <th>No. HP</th>
                                            <th>Aksi</th>
                                        </tr>
                                        <tr v-for="(customer,index) in customers" :key="index">
                                            <td>{{index+1}}</td>
                                            <td>{{ customer.customer_nama}}</td>
                                            <td>{{ customer.customer_alamat}}</td>
                                            <td>{{ customer.email}}</td>
                                            <td>{{ customer.customer_telepon}}</td>
                                            <td>
                                                <router-link :to='{ name: "Edit_customer", params: { id: customer.id }}' class="btn btn-warning">Edit</router-link>
                                                <button class="btn btn-danger" @click="deleteCustomer(customer)">Hapus</button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>



</template>

<script>

export default {
    computed: {
        customers() {
            return this.$store.state.customers
        },
    },
    mounted() {

        this.getCustomers();
    },
    methods: {
        getCustomers() {
            this.$store.dispatch('getCustomers');
        },
        deleteCustomer(customer) {
            this.$store.dispatch('deleteCustomer', customer.id);
        }
    },
}

</script>
